* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

main > #product-overview {
  background: url("/freedom.jpg");
  width: 100%;
  padding: 10px;
  height: 528px;
}

main > #product-overview > h1 {
  color: white;
}

main > #plans > h1.section-title {
  color: #2ddf5c;
  text-align: center;
}

main > #plans > .plan-list {
  text-align: center;
}

main > #plans > .plan-list > .plan {
  background-color: #d5ffdc;
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

main > #plans > .plan-list > .plan.active {
  background-color: #19b84c;
  color: white;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.main-header {
  width: 100%;
  background-color: #2ddf5c;
  padding: 16px;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header > div > .main-header__brand {
  font-weight: bold;
  color: #0e4f1f;
  text-decoration: none;
}

.main-header > .main-nav {
  display: inline-block;
  width: calc(100% - 55px);
  text-align: right;
  vertical-align: middle;
}

.main-header > .main-nav > .main-nav__items {
  padding: 0;
  margin: 0;
}

.main-header > .main-nav > .main-nav__items > .main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-header > .main-nav > .main-nav__items > .main-nav__item.active > a {
  color: white;
  background-color: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}

.main-header > .main-nav > .main-nav__items > .main-nav__item.active > a:hover, .main-header > .main-nav > .main-nav__items > .main-nav__item.active > a:active {
  color: #ff1b68;
  background-color: white;
  border: none;
}

.main-header > .main-nav > .main-nav__items > .main-nav__item > a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding: 5px 0;
}

.main-header > .main-nav > .main-nav__items > .main-nav__item > a:hover, .main-header > .main-nav > .main-nav__items > .main-nav__item > a:active {
  color: white;
  border-bottom: 5px solid white;
}
