$headerBackgroundColor: #2ddf5c;
$headerTextColor: #0e4f1f;
$headerTextActiveColor: white;
$headerTextActiveBackgroundColor: #ff1b68;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

main {
  > #product-overview {
    background: url("/freedom.jpg");
    width: 100%;
    padding: 10px;
    height: 528px;
    > h1 {
      color: white;
    }
  }
  > #plans {
    > h1 {
      &.section-title {
        color: $headerBackgroundColor;
      }
    }
    > .plan-list {
      text-align: center;
      > .plan {
        background-color: #d5ffdc;
        text-align: center;
        padding: 16px;
        margin: 8px;
        display: inline-block;
        width: 30%;
        vertical-align: middle;
      }
    }
  }
}

.main-header {
  width: 100%;
  background-color: $headerBackgroundColor;
  padding: 16px;
  > div {
    display: inline-block;
    vertical-align: middle;
    > .main-header__brand {
      font-weight: bold;
      color: $headerTextColor;
      text-decoration: none;
    }
  }
  > .main-nav {
    display: inline-block;
    width: calc(100% - 55px);
    text-align: right;
    vertical-align: middle;
    > .main-nav__items {
      padding: 0;
      margin: 0;
      > .main-nav__item {
        display: inline-block;
        margin: 0 16px;
        &.active {
          > a {
            color: $headerTextActiveColor;
            background-color: $headerTextActiveBackgroundColor;
            padding: 8px 16px;
            border-radius: 8px;
            &:hover,
            &:active {
              color: $headerTextActiveBackgroundColor;
              background-color: $headerTextActiveColor;
              border: none;
            }
          }
        }
        > a {
          text-decoration: none;
          color: $headerTextColor;
          font-weight: bold;
          padding: 5px 0;
          &:hover,
          &:active {
            color: $headerTextActiveColor;
            border-bottom: 5px solid $headerTextActiveColor;
          }
        }
      }
    }
  }
}
